svg, body, html{
padding: 0px;
margin: 0px;
width: 100%;
height: 100%;

}

svg{
display: block;
}

svg path{

  stroke:#999999;
  stroke-width:5;

}

svg circle{
fill: #34CF0F;
stroke:#999999;
stroke-width:5;
}



svg a{
font-family: 'Muli', sans-serif;
text-transform:lowercase;
letter-spacing: 3px;
font-size: 10px;
text-decoration:none;

display: table-cell;
vertical-align: middle;


width: 84px;
height: 84px;
padding: 8px;

border-radius: 50px;
text-align:center;
color:white;
overflow:hidden;

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor:default;


}

svg a.mainNode{
font-size: 14px;
font-weight: bold;
}